version=54;
center[]={0,5,0};
class items
{
	items=1;
	class Item0
	{
		dataType="Object";
		side="Empty";
		class Attributes
		{
			init="{{ .Init }}";
		};
		id=0;
		type="Land_HelipadEmpty_F";
	};
};
